@page "/distribution"

<h2 id="toc_16">Audio Distribution and Licensing</h2>

<p><strong>Roles:</strong> Artists, Record Labels, Distributors, Digital Platforms (e.g., Streaming Services, Download Sites), Music Publishers, Retailers, Sync Agents, Licensees (e.g., Film/TV Producers, Advertisers), Legal Representatives</p>

<p><strong>Documents:</strong> Distribution Agreements, Licensing Agreements, Mechanical Licenses, Synchronization Licenses, Digital Performance Licenses, Royalty Statements, Exclusivity Agreements, Blanket Licenses, Master Use Licenses</p>

<h3 id="toc_17">Online Video Distribution</h3>

<ul>
    <li>Vevo</li>
    <li>Youtube</li>
    <li>Mini Shorts</li>
    <li>Streaming</li>
    <li>Mood Media Placements</li>
    <li>Commercial Playlist</li>
    <li>Karaoke System</li>
    <li>Riaa Certified</li>
    <li>Rythmic Soul (Chart)</li>
    <li>Hip Hop</li>
</ul>

<h3 id="toc_18">Social Media Content</h3>

<ul>
    <li>Qrc Code</li>
    <li>Family (Follower Names)</li>
    <li>Tik Tok</li>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Facebook</li>
</ul>
