@page "/metadata"

<h2 id="toc_12">Metadata and Music Metadata Encoding, File Management:</h2>

<p><strong>Roles:</strong> Artists, metadata specialists</p>

<p><strong>Documents</strong>: Metadata Sheets, ISRC Registrations (for tracking and royalty purposes)</p>

<p><strong>Notes:</strong></p>

<div>
    <pre><code class="language-none">- Idv3 Tag / Metadata (Producer Credit, Bpm, Date)
- Genre (Rhythmic Soul, Hip Hop, Dance, R&amp;B, Rap)
- Album Name (The Debutant Ball)
- Cover Art (Square: 3000p x 3000p) min. res of 72 DPI 
- Upload To Cloud Storage
- Distrokid
- TuneCore
- Orchard (Sony)</code></pre>
</div>