<div class="album py-2 bg-body-tertiary text-dark">
	<div class="container">
		<div class="row g-3">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
				<div class="card shadow-sm">
					<div class="card-header">
						<span class="oi oi-document" aria-hidden="true"></span>
						Songwriting Documents
					</div>
					<div class="card-body">
						<small class="rounded-pill bg-dark text-light p-2">
							Generate documents</small
						>

						@* Legal documents list *@
						<ul class="list-group py-3">
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Songwriting Agreements</span>
								<a href="link_to_recording_contract.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Collaboration Agreements</span>
								<a href="link_to_publishing_agreement.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Copyright Registration Applications</span>
								<a href="link_to_licensing_agreement.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Work Registrations</span>
								<a href="link_to_performance_agreement.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Lyric Sheets</span>
								<a href="link_to_copyright_registration.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Musical Notations</span>
								<a href="link_to_work_registration.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Split Sheets</span>
								<a href="link_to_royalty_statements.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Publishing Contracts</span>
								<a href="link_to_nda.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-item-hover">
								<span>Licensing Agreements</span>
								<a href="link_to_mechanical_license.pdf" download>
									<span class="oi oi-document"></span> Download
								</a>
							</li>
						</ul>

						<div class="d-flex justify-content-between align-items-center">
							<small class="text-body-secondary card-footer">9 docs</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>