@page "/related-content"
@code {
    [Parameter]
    public ArtistOnboardingModel Model { get; set; }
}

<div class="mb-3">
    <label for="relatedContentLinks" class="form-label">Related Content Links</label>
    <!-- <InputTextArea id="relatedContentLinks" class="form-control" @bind-Value="Model.RelatedContentLinks" /> -->
</div>
