@page "/artwork"

@*<PageTitle>Counter</PageTitle>*@

<h2 id="toc_11">Album Artwork and Packaging</h2>

<p><strong>Roles</strong>: Graphic Designers, Illustrators, Photographers, Artists, Art Directors, Marketing Teams, Record Labels, Printers, Packaging Specialists, Legal Representatives (for licensing and intellectual property)</p>

<p><strong>Documents:</strong> Design Contracts, Licensing Agreements (for artwork, photographs, fonts), Copyright Release Forms, Print Specifications, Proofing Documents, Non-Disclosure Agreements (NDAs), Intellectual Property Assignments, Trademark Registration Documents (if applicable)</p>