@page "/copyright"

<h2 id="toc_9">Copyright Registration</h2>

<p>
    <strong>Roles</strong>: Copyright Registration Applications, Work Registrations, Deposit Copies (e.g., copies of the music and lyrics), Assignment Agreements, Licensing Agreements, Proof of Ownership (such as contracts or agreements outlining ownership rights), Release Forms

</p>

<p><strong>Documents</strong>: Copyright Registration Applications, Work Registrations</p>