@page "/events"

<h2 id="toc_19">Music Events</h2>

<p><strong>Roles</strong>: Artists, Performers, Event Organizers, Promoters, Booking Agents, Venue Owners, Production Crew, Security Personnel, Sponsors, Ticketing Agencies, Vendors, Legal Representatives</p>

<p><strong>Documents:</strong> Performance Agreements, Venue Contracts, Artist Riders, Sponsorship Agreements, Ticketing Agreements, Insurance Documents, Licensing Permits (e.g., Alcohol, Noise), Safety Compliance Certifications, Vendor Contracts</p>

<p><strong>Notes:</strong></p>


<ul>
    <li>Paid Performance</li>
    <li>Walk Through</li>
    <li>Schedules</li>
    <li>Locations</li>
    <li>-aeisuf,pink Lion,big Mama&#39;s, Nbwsm Ballroom,westside Arts Center,</li>
    <li>Eventbrite</li>
    <li>Groupon</li>
    <li>Open Mics</li>
</ul>