@page "/music-production"

<PageTitle>Music Production</PageTitle>

<body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <span class="fs-4">Music Production</span>
            </a>
        </header>

        <main>
            <h1 class="text-body-emphasis">DAW Support</h1>

            <p class="fs-5 col-md-10">Pro Tools, Logic, Garageband, FL Studio</p>

            <p>Manage music production data with Rhyme Engine.</p>

            <hr class="col-10 mb-4">


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-group text-center my-4">
                            <li class="list-group-item mocha ">Music Production Data</li>
                            <li class="list-group-item chocolate-bg">Templates</li>
                            <li class="list-group-item chocolate-bg">Recording Project</li>
                            <li class="list-group-item chocolate-bg">Instrumental Project</li>
                            <li class="list-group-item chocolate-bg">Size Reduction</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-group text-center my-4">
                            <li class="list-group-item mocha">Audio Files</li>
                            <li class="list-group-item chocolate-bg">Bounced Files (Mp3 &amp; Wav)</li>
                            <li class="list-group-item chocolate-bg">Acapella</li>
                            <li class="list-group-item chocolate-bg">Perfomance Tracks</li>
                            <li class="list-group-item chocolate-bg">Instrumental Stems</li>
                            <li class="list-group-item chocolate-bg">Mix</li>
                            <li class="list-group-item chocolate-bg">Master</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-group text-center my-4">
                            <li class="list-group-item mocha">Documents</li>
                            <li class="list-group-item chocolate-bg">Lyrics</li>
                            <li class="list-group-item chocolate-bg">Split Sheet</li>
                            <li class="list-group-item chocolate-bg">Copyright.gov (Qty. Limit)</li>
                            <li class="list-group-item chocolate-bg">Licenses</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <ul class="list-group text-center my-4">
                            <li class="list-group-item mocha">Metadata</li>
                            <li class="list-group-item chocolate-bg">Tempo</li>
                            <li class="list-group-item chocolate-bg">Song Key</li>
                            <li class="list-group-item chocolate-bg">Song Scale</li>
                            <li class="list-group-item chocolate-bg">Song Length</li>
                        </ul>
                    </div>
                </div>
            </div>


        </main>
    </div>
</body>

@*<p><strong>Roles</strong>: Producers, Recording Engineers, Mix Engineers, Mastering Engineers, Musicians, Arrangers, Session Players, Studio Owners, Sound Designers, A&R Representatives, Legal Representatives</p>*@

@*<p><strong>Documents</strong>: Production Agreements, Recording Contracts, Studio Booking Agreements, Royalty Agreements, Non-Disclosure Agreements (NDAs), Session Musician Contracts, Producer Royalty Statements, Intellectual Property Assignments, Release Forms</p>*@

<h3 id="toc_8"></h3>

