@page "/performance"

<h2 id="toc_15">Performance Rights Organizations</h2>

<p><strong>Roles</strong>: Songwriters, Composers, Publishers, Music Licensees (e.g., Radio Stations, TV Networks, Venues), Artists, Performing Musicians, Legal Representatives, Licensing Agents</p>

<p><strong>Documents:</strong> Performance Licenses, Royalty Distribution Agreements, Membership Agreements, Work Registrations, Cue Sheets, Performance Reports, Royalty Statements, Blanket Licenses, Licensing Contracts</p>

<p><strong>Notes:</strong></p>


<ul>
    <li>SoundExchange</li>
    <li>Licenses</li>
    <li>BMI</li>
    <li>Sesac</li>
    <li>Music</li>
</ul>