@page "/change-password"
@inject IJSRuntime JS

<h3>Change Password</h3>

<!-- <button @onclick="ShowChangePassword">Change Password with Netlify Identity</button> -->

@code {
    private void ShowChangePassword()
    {
        JS.InvokeVoidAsync("netlifyIdentity.open", "change-password");
    }
}
