@page "/register"
@inject IJSRuntime JS

<h3>Register</h3>

<!-- <button @onclick="ShowRegister">Register with Netlify Identity</button> -->

@code {
    private void ShowRegister()
    {
        JS.InvokeVoidAsync("netlifyIdentity.open", "signup");
    }
}
