@page "/about" 
@using RhymeEngine.V1.Shared

<PageTitle>About</PageTitle>

<body>
	<div class="px-4 text-center">
		
		<h1><span class="oi oi-star" aria-hidden="true"></span> </h1>
		<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">About</h1>

		<div class="col-lg-8 mx-auto py-4">
			<p class="fs-4">
				Meet the visionary founders who have joined forces to embark on an
				inspiring journey of creativity, technology, and music. Our story is one
				of passion, dedication, and a shared vision to revolutionize the music
				industry.
			</p>
		</div>
	</div>

	<div class="b-example-divider"></div>

	<main>
		<p class="fs-5"></p>

		<div class="container">
			<div class="card bg-deep mb-3 rounded-3 border-dark">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="/images/gvosmith-buckead-ga.png"
							class="img-fluid rounded-start p-4"
							alt="..."
							style="object-fit: cover; max-height: 320px" />
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Thomas Smith | Founder</h5>
							<p class="card-text">Software Architect & Developer</p>
							<p class="card-text">
								<small class="text-muted"
									>Audio engineering, cad drafting & software development</small>
							</p>
							<a href="https://tsmith-dev-portfolio.web.app/">Meet the Developer</a>
							<p class="py-4">
								From pioneering blockchain and quantum-powered protection for
								intellectual property to creating a vibrant community of artists
								and industry professionals, our combined vision is the driving
								force behind the success of our platform.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="b-example-divider"></div>

			<div class="card bg-deep mb-3 rounded-3 border-dark">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="/images/thrizz13-buckhead-ga-navy.JPG"
							class="img-fluid rounded-start p-4"
							alt="..."
							style="object-fit: cover; max-height: 320px" />
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Teron Wallace | Founder</h5>
							<p class="card-text">Director of Marketing & Sales</p>
							<p class="card-text">
								<small class="text-muted"
									>Artist, facility management & vendor relations</small>
							</p>
							<a
								href="https://www.newblackwallstreetmarket.com/"
								class="list-unstyled mt-3 mb-4"
								>Meet the Community</a>
							<p class="py-4">
								Welcome to Rhyme Engine – where innovation meets artistry, and
								where our collaborative spirit continues to shape the future of
								music.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="b-example-divider"></div>

		<article>
			<div class="container">
				<div
					class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 bg-deep shadow-lg">
					<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
						<p>
							Founded by Thomas Smith II and Teron Wallace, Rhyme Engine was
							born out of a desire to empower artists, producers, and music
							enthusiasts with cutting-edge solutions that redefine how music is
							created, protected, and shared.
						</p>

						<p>
							With diverse backgrounds our founders bring a unique blend of
							expertise to the table, driving innovation and excellence in every
							aspect of our platform.
						</p>

						<div
							class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
							<!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold text-light">Primary</button> -->
							<!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
						</div>
					</div>
				</div>
			</div>
		</article>

		<div class="b-example-divider"></div>

		<Story />

		<p>
			Thank you for choosing Rhyme Engine. Seamlessly organize, secure, and
			monetize your critical proprietary intellectual property.
		</p>
		<p>
			Have questions or need assistance? Our dedicated support team is here for
			you. Connect with us on Instagram at freeinatlanta or thrizz13, and we'll
			be more than happy to help. Thank you for choosing Rhyme Engine.
		</p>
	</main>
</body>
