@page "/content"
@inject LocalDataService DataService

<header>
    <p>Manage your accounts on each Digital Service Provider (DSP) to maximize your content.</p>
</header>

<ContentCategoryDisplay Title="Content" ContentCategories="@contentCategories" />


@code {
    private List<ContentCategory> contentCategories;

    protected override async Task OnInitializedAsync()
    {
        contentCategories = await DataService.GetContentCategoriesAsync();
    }
}
