@page "/content"
@inject LocalDataService DataService

<title>Rhyme Engine | Content</title>

<header>
    <p>Manage your profile on each Digital Service Provider (DSP) to maximize your content.</p>
</header>

<ContentCategoryDisplay Title="Content" ContentCategories="@contentCategories" />

<ContentChecklist />

@code {
    private List<ContentCategory> contentCategories;

    protected override async Task OnInitializedAsync()
    {
        contentCategories = await DataService.GetContentCategoriesAsync();
    }
}
