@page "/event-platforms"
@inject LocalDataService DataService

<title>Rhyme Engine | Event Platforms</title>

<ContentCategoryDisplay Title="Events" ContentCategories="@eventPlatforms" />

<EventsChecklist />

@code {
    private List<ContentCategory> eventPlatforms;

    protected override async Task OnInitializedAsync()
    {
        eventPlatforms = await DataService.GetEventPlatformsAsync();
    }
}



