@page "/" 
@using RhymeEngine.V1.Shared

<PageTitle>Home</PageTitle>

<body>
	<main>
		<div class="px-4 text-center">
			<!-- <img class="d-block mx-auto mb-4" src="/animations/rhyme-engine-animation-dark.gif" alt="" width="400" height=""> -->
			<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Rhyme Engine</h1>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-4">
				<button class="btn btn-dark btn-lg px-4 gap-3">
					Music Education Platform
				</button>
			</div>
			<div class="col-lg-8 mx-auto py-2">
				 <div class="container my-2">
        
        <div class="row">
            <div class="col-md-8 mx-auto">
                <!-- <p class="fs-4 mb-4">
                    At <span class="highlight">Rhyme Engine</span>, our primary goal is to provide an <span class="highlight">intuitive</span> and <span class="highlight">efficient</span> way for users to educate themselves on various aspects of music, while also fostering <span class="highlight">community interaction</span> and <span class="highlight">feedback</span>.
                </p> -->
                <!-- <p class="fs-4 mb-4">
                    We are committed to offering <span class="highlight">high-quality</span>, <span class="highlight">accessible content</span> for free users, while delivering <span class="highlight">exclusive, advanced resources</span> and <span class="highlight">personalized support</span> for our paid users.
                </p> -->
                <p class="text-light">
                    A music education platform that <span class="text-info">empowers</span> creatives to create, own and distribute effectively in teams by providing a repeatable process.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a href="/data-roadmap" class="btn btn-primary text-light btn-lg me-md-2">Get Started</a>
                    <a href="/signup" class="btn btn-secondary btn-lg disabled">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
			</div>
		</div>

	</main>
</body>