@page "/" 
@using RhymeEngine.V1.Shared

<PageTitle>Home</PageTitle>

<body>
	<main>
		<div class="px-4 text-center">
			<!-- <img class="d-block mx-auto mb-4" src="/animations/rhyme-engine-animation-dark.gif" alt="" width="400" height=""> -->
			<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Rhyme Engine</h1>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-4">
				<button class="btn btn-dark btn-lg px-4 gap-3">
					Music Management Platform
				</button>
			</div>
			<div class="col-lg-8 mx-auto py-4">
				<p class="fs-4 mb-4">
					Unlock a new dimension of creativity and collaboration. Rhyme Engine provides a
			comprehensive <span class="text-info">suite of tools</span> designed to streamline, organize, and
			supercharge your creative process while effortlessly managing and enriching your music catalog.
				</p>
			</div>
		</div>

		<div class="b-example-divider"></div>

		<SignUp />

	</main>
</body>