@page "/meta-data"
@inject LocalDataService DataService

<title>Rhyme Engine | Metadata</title>

<header>
    <p>Manage your accounts on each Digital Service Provider (DSP) to maximize your content.</p>
</header>

<ContentCategoryDisplay Title="Meta Data" ContentCategories="@contentCategories" />


@code {
    private List<ContentCategory> contentCategories = new List<ContentCategory>();

    protected override async Task OnInitializedAsync()
    {
        contentCategories = await DataService.GetMetadataFieldsAsync();
    }
}
