@page "/performance"
@inject LocalDataService DataService

<title>Rhyme Engine | Performance Rights Organization (PRO)</title>

<ContentCategoryDisplay Title="Performance Rights Organizations" ContentCategories="@performanceRightsOrganizations" />


<PerformanceChecklist />

@code {
    private List<ContentCategory> performanceRightsOrganizations;

    protected override async Task OnInitializedAsync()
    {
        performanceRightsOrganizations = await DataService.GetPerformanceRightsOrganizationsAsync();
    }
}
