@page "/performance"
@inject LocalDataService DataService

<title>Rhyme Engine | Performance Rights Organization (PRO)</title>

<p>Whether you are a songwriter, composer, publisher, or legal representative, you'll find essential information about the organizations that protect your rights and distribute royalties.</p>

<ContentCategoryDisplay Title="Performance Rights Organizations" ContentCategories="@performanceRightsOrganizations" />


<PerformanceChecklist />

@code {
    private List<ContentCategory>? performanceRightsOrganizations = new List<ContentCategory>();

    protected override async Task OnInitializedAsync()
    {
        performanceRightsOrganizations = await DataService.GetPerformanceRightsOrganizationsAsync();
        performanceRightsOrganizations = performanceRightsOrganizations.OrderBy(c => c.Title).ToList();
    }
}
