@page "/performance"

<h2 id="toc_1"><span class="oi oi-microphone mx-2" aria-hidden="true"></span> Performance Rights Organizations</h2>

<p><strong>Roles</strong>: Songwriters, Composers, Publishers, Music Licensees (e.g., Radio Stations, TV Networks, Venues), Artists, Performing Musicians, Legal Representatives, Licensing Agents</p>

<p><strong>Documents:</strong> Performance Licenses, Royalty Distribution Agreements, Membership Agreements, Work Registrations, Cue Sheets, Performance Reports, Royalty Statements, Blanket Licenses, Licensing Contracts</p>


<div class="container mt-5">
<p><strong>Join:</strong></p>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <!-- United States -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">United States</h5>

                        <ul class="list-unstyled small">
                            <li><a href="https://www.ascap.com" target="_blank">ASCAP</a> (American Society of Composers, Authors, and Publishers)</li>
                            <li><a href="https://www.bmi.com" target="_blank">BMI</a> (Broadcast Music, Inc.)</li>
                            <li><a href="https://www.sesac.com" target="_blank">SESAC</a> (Society of European Stage Authors and Composers)</li>
                            <li><a href="https://www.soundexchange.com" target="_blank">SoundExchange</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- United Kingdom -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">United Kingdom</h5>
                        
                        <ul class="list-unstyled small">
                            <li><a href="https://www.prsformusic.com" target="_blank">PRS for Music</a> (Performing Right Society)</li>
                            <li><a href="https://www.ppluk.com" target="_blank">PPL</a> (Phonographic Performance Limited)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Canada -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">Canada</h5>
                        
                        <ul class="list-unstyled small">
                            <li><a href="https://www.socan.com" target="_blank">SOCAN</a> (Society of Composers, Authors and Music Publishers of Canada)</li>
                            <li><a href="https://www.re-sound.ca" target="_blank">Re:Sound</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Australia -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">Australia</h5>
                        
                        <ul class="list-unstyled small">
                            <li><a href="https://www.apraamcos.com.au" target="_blank">APRA AMCOS</a> (Australasian Performing Right Association)</li>
                            <li><a href="https://www.ppca.com.au" target="_blank">PPCA</a> (Phonographic Performance Company of Australia)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Europe -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">Europe</h5>
                        
                        <ul class="list-unstyled small">
                            <li><a href="https://www.gema.de" target="_blank">GEMA</a> (Germany)</li>
                            <li><a href="https://www.sacem.fr" target="_blank">SACEM</a> (France)</li>
                            <li><a href="https://www.sgae.es" target="_blank">SGAE</a> (Spain)</li>
                            <li><a href="https://www.siae.it" target="_blank">SIAE</a> (Italy)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Global -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">Global</h5>
                        
                        <ul class="list-unstyled small">
                            <li><a href="https://www.cisac.org" target="_blank">CISAC</a> (International Confederation of Societies of Authors and Composers)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
