@page "/performance"
@inject LocalDataService DataService

<ContentCategoryDisplay Title="Performance Rights Organizations" ContentCategories="@performanceRightsOrganizations" />

<div class="b-example-divider"></div>

<PerformanceChecklist />

@code {
    private List<ContentCategory> performanceRightsOrganizations;

    protected override async Task OnInitializedAsync()
    {
        performanceRightsOrganizations = await DataService.GetPerformanceRightsOrganizationsAsync();
    }
}
