@page "/profile"
<title>Thrizz13</title>

<div class="container">
    <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border bg-deep shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Profile</h1>
        <p class="lead">Allow artists and songwriters to create detailed profiles showcasing their work, influences, and achievements.</p>
        
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <!-- <img class="rounded-lg-3 album-cover" src="/images/thrizz13-buckhead-ga-navy.JPG"> -->
      </div>
    </div>
  </div>

  <div class="row ">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 ">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Talent</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Biography</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Latest Release</a>
        </nav>
        <a class="nav-link" href="#item-2">Videos</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-2-1">Music Video</a>
          <a class="nav-link ms-3 my-1" href="#item-2-2">Behind the Scenes</a>
        </nav>
        <a class="nav-link" href="#item-3">Events</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Upcoming Shows</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Past Shows</a>
        </nav>
        <a class="nav-link" href="#item-4">Merchandise</a>
        <a class="nav-link" href="#item-5">Endorsements</a>
        <a class="nav-link" href="#item-6">Contact</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-6-1">Connect With</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8 bg-deep text-light border-start">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 p-4" tabindex="0">
      <div id="item-1">
        <h2>Talent</h2>
        <p>...</p>
      </div>
      <div id="item-1-1">
        <h5>Biography</h5>
        <p>...</p>
      </div>
      <div id="item-1-2">
        <h5>Latest Release</h5>
        <p>...</p>
      </div>
      <div id="item-2">
        <h2>Videos</h2>
        <p>...</p>
      </div>
      <div id="item-2-1">
        <h5>Music Videos</h5>
        <p>...</p>
      </div>
      <div id="item-2-2">
        <h5>Behind the Scenes</h5>
        <p>...</p>
      </div>
      <div id="item-3">
        <h2>Events</h2>
        <p>...</p>
      </div>
      <div id="item-3-1">
        <h5>Upcoming Shows</h5>
        <p>...</p>
      </div>
      <div id="item-3-2">
        <h5>Past Shows</h5>
        <p>...</p>
      </div>
      <div id="item-4">
        <h2>Merchandise</h2>
        <p>...</p>
      </div>
      <div id="item-5">
        <h2>Endorsements</h2>
        <p>...</p>
      </div>
      <div id="item-6">
        <h2>Contact</h2>
        <p>For booking inquiries, press, and other collaborations, please contact:</p>
        <p>Email: [Email Address]</p>
        <p>Phone: [Phone Number]</p>
      </div>
      <div id="item-6-1">
        <h5>Connect With</h5>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
    
 
</div>
