@page "/survey"

<div class="container mt-4">
    <h2>Tell us about yourself</h2>
    <p>We'll use this information to customize your Builder experience. You can always change this later.</p>

    <form>
        <label>What's your role?</label>
        <div class="btn-group d-block mb-3">
            <button type="button" class="btn btn-outline-secondary">Audio Engineer</button>
            <button type="button" class="btn btn-outline-secondary">Sync Agent</button>
            <button type="button" class="btn btn-outline-secondary">Producer</button>
            <button type="button" class="btn btn-outline-secondary">Artist</button>
            <button type="button" class="btn btn-outline-secondary">Song Writer</button>
            <button type="button" class="btn btn-outline-secondary">Publisher</button>
            <button type="button" class="btn btn-outline-secondary"> Musicians</button>
        </div>

        <label>What are your needs?</label>
        <div class="btn-group d-block mb-3">
            <button type="button" class="btn btn-outline-secondary">Intellectual property protection</button>
            <button type="button" class="btn btn-outline-secondary">I'm ready to create</button>
            <button type="button" class="btn btn-outline-secondary">I'm ready to publish</button>
            <button type="button" class="btn btn-outline-secondary">I'm ready to perform</button>
            <button type="button" class="btn btn-outline-secondary">I'm ready to perform</button>
        </div>

        <label>How did you hear about Builder.io?</label>
        <div class="btn-group d-block mb-3">
            <button type="button" class="btn btn-outline-secondary">Social media</button>
            <button type="button" class="btn btn-outline-secondary">Friend or colleague</button>
            <button type="button" class="btn btn-outline-secondary">Youtube</button>
            <button type="button" class="btn btn-outline-secondary">Figma</button>
            <button type="button" class="btn btn-outline-secondary">Open source (Qwik, Partytown)</button>
            <button type="button" class="btn btn-outline-secondary">Builder.io blog</button>
            <button type="button" class="btn btn-outline-secondary">Search</button>
            <button type="button" class="btn btn-outline-secondary">Other</button>
        </div>

        <button type="button" class="btn btn-primary" disabled>Let's go!</button>
    </form>
</div>

