<div class="container mt-4 text-light small row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xxl-3">
    <!-- Roles Section -->
    <div class="mb-4 p-3 rounded bg-dark">
        <h5 class="card-header mb-3 bg-light text-light"><strong>Roles</strong></h5>
        <ul class="list-group">
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role1">
                <label class="form-check-label" for="role1">Content Creators</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role2">
                <label class="form-check-label" for="role2">Editors</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role3">
                <label class="form-check-label" for="role3">Producers</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role4">
                <label class="form-check-label" for="role4">Distributors</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role5">
                <label class="form-check-label" for="role5">Marketing Specialists</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role6">
                <label class="form-check-label" for="role6">Social Media Managers</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role7">
                <label class="form-check-label" for="role7">SEO Specialists</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role8">
                <label class="form-check-label" for="role8">Analytics Experts</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role9">
                <label class="form-check-label" for="role9">Content Strategists</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role10">
                <label class="form-check-label" for="role10">Graphic Designers</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="role11">
                <label class="form-check-label" for="role11">Legal Representatives</label>
            </li>
        </ul>
    </div>

     <!-- Documents Section -->
    <div class="mb-4 p-3 rounded bg-dark">
        <h5 class="mb-3 card-header bg-light text-light"><strong>Documents</strong></h5>
        <ul class="list-group">
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document1">
                <label class="form-check-label" for="document1">Content Agreements</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document2">
                <label class="form-check-label" for="document2">Licensing Agreements</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document3">
                <label class="form-check-label" for="document3">Distribution Contracts</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document4">
                <label class="form-check-label" for="document4">Marketing Agreements</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document5">
                <label class="form-check-label" for="document5">Sponsorship Agreements</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document6">
                <label class="form-check-label" for="document6">Content Release Forms</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document7">
                <label class="form-check-label" for="document7">Privacy Policies</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document8">
                <label class="form-check-label" for="document8">Content Licenses</label>
            </li>
            <li class="list-group-item bg-dark text-light border-secondary">
                <input class="form-check-input me-1" type="checkbox" value="" id="document9">
                <label class="form-check-label" for="document9">Copyright Registrations</label>
            </li>
        </ul>
    </div>
</div>


