@using RhymeEngine.V1.Shared

<title>Future Pages</title>

<body>
	<main class="col-md-10 col-lg-8 col-sm-12">
		<p class="fs-5 col-md-10"></p>

		<hr class="mb-5" />

		<ArrangeableTable />
	</main>
</body>
