@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <!-- <div class="login top-row px-4">
            <LoginDisplay />
        </div> -->
        <Ticker Releases="@releaseData" />
        
        <article class="content px-4">
            <Breadcrumb Items="@GetBreadcrumbItems()" />
            @Body
        </article>
        
        <footer class="text-body-secondary py-5 text-center">
  <div class="container">
    <p class="float-end mb-1">
      <!-- <a class="text-light" href="#">Back to top</a> -->
    </p>
    <p><a href="mailto:tsmithcad@gmail.com">tsmithcad@gmail.com</a></p>

    <!-- <p >Access, sync and secure catalog from a variety of devices </p>
    <p>📱💻🖥️ 🎮🕹️ 📺🖥️ 💽📀🌐📦 🛍️💻 📡🔌 🎧📷</p> -->
    <p>Complimentary Intelligence &copy; 2023</p>
  </div>
</footer>

        
    </main>
</div>


@code {
    private List<FeatureRelease> releaseData = new List<FeatureRelease>
    {
        new FeatureRelease { Date = DateTime.Now, FeatureName = "Data Roadmap page updated!", Description = " " },
        // Add more releases here
    };

    private List<BreadcrumbItem> GetBreadcrumbItems()
    {
        var breadcrumbItems = new List<BreadcrumbItem>();
        var segments = Navigation.ToBaseRelativePath(Navigation.Uri).Split('/'); // Use ToBaseRelativePath

        var path = "/";
        foreach (var segment in segments)
        {
            if (!string.IsNullOrEmpty(segment))
            {
                path += segment + "/";
                breadcrumbItems.Add(new BreadcrumbItem
                {
                    Label = segment,
                    Url = path.TrimEnd('/')
                });
            }
        }
        return breadcrumbItems;
    }
}