@inject LocalDataService DataService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rhyme Engine <small class="text-warning">Demo</small></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (navMenuItems != null)
        {
            @foreach (var item in navMenuItems.Where(i => i.Enabled))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Url">
                        <span class="oi @item.Icon" aria-hidden="true"></span> @item.Title
                    </NavLink>
                </div>
            }
        }
        else
        {
            <div class="nav-item px-3">
                <p>Loading menu...</p>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private List<NavMenuItem> navMenuItems;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        navMenuItems = await DataService.GetNavMenuItemsAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string GetAbbreviatedTitle(string title)
    {
        return title.Length > 9 ? title.Substring(0, 6) + "…" : title;
    }
}


