<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                Click <span class="text-warning">Menu</span> 
            </h1>
           
        </div>
       <small class="text-info text-center">For mobile the Menu is the top right square button. Click to start your journey!</small>
    </div>
</div>