@page "/legal"

<h2 id="toc_14">Music Legal Process</h2>

<p><strong>Roles</strong>: Artists, Producers, Songwriters, Managers, Record Labels, Music Publishers, Legal Representatives (Attorneys), Performing Rights Organizations (PROs)</p>

<h2 class="py-4"><strong>Notes:</strong></h2>

<ul>
    <li>Legal Disclaimer</li>
    <li>Meet With Copywright </li>
    <li>Legal Advisors (Free Consultation)</li>
</ul>


@* Legal documents list *@
<h2>Documents</h2>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center   list-item-hover">
        <span>Recording Contracts</span>
        <a href="link_to_recording_contract.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Publishing Agreements</span>
        <a href="link_to_publishing_agreement.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Licensing Agreements</span>
        <a href="link_to_licensing_agreement.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Performance Agreements</span>
        <a href="link_to_performance_agreement.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Copyright Registration Applications</span>
        <a href="link_to_copyright_registration.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Work Registrations</span>
        <a href="link_to_work_registration.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Royalty Statements</span>
        <a href="link_to_royalty_statements.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Non-Disclosure Agreements (NDAs)</span>
        <a href="link_to_nda.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Mechanical Licensing Agreements</span>
        <a href="link_to_mechanical_license.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center  list-item-hover">
        <span>Synchronization Licensing Agreements</span>
        <a href="link_to_sync_license.pdf" download>
            <span class="oi oi-document"></span> Download
        </a>
    </li>
</ul>

