<article>

  @* <p>
        <strong>Documents:</strong> Songwriting Agreements, Collaboration
        Agreements, Copyright Registration Applications, Work Registrations, Lyric
        Sheets, Musical Notations, Split Sheets (outlining ownership percentages),
        Publishing Contracts, Licensing Agreements
    </p> *@
    


    <div class="album py-2 bg-body-tertiary text-dark">
    <div class="container">
      <div class="row g-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card shadow-sm">
            <div class="card-header">
                <span class="oi oi-document" aria-hidden="true"></span>
              Songwriting Documents</div>
            <div class="card-body">
              <small class="rounded-pill bg-dark text-light p-2">
                Generate documents</small>

                @*<SongWritingDocuments/>*@

              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary card-footer">9 docs</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="card shadow-sm">
            <div class="card-header">Roles & Responsibilities</div>
            <div class="card-body">
             <div>

          <table class="table table-bordered table-striped">
            <tr>
              <td>Role</td>
              <td>Responsibility</td>
            </tr>
            <tr>
              <td>Songwriters</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Composers</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Lyricists</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Musicians</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Producers</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Music Publishers</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Arrangers</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Music Directors</td>
              <td>...</td>
            </tr>
            <tr>
              <td>A&R</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Representatives</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Legal Representatives</td>
              <td>...</td>
            </tr>
          </table>

      </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary card-footer">11 Roles</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>